.autosuggest-body
{
	position: absolute;	
	z-index: 100;
}

.autosuggest-body iframe
{
	display: block;
	position: absolute;
	z-index: 999;
	filter: alpha(opacity=0);
}

.autosuggest-body table
{
	width: 100%;
	background-color: #FFFFF0;
}

.autosuggest-body tr
{
	cursor: hand;
	cursor: pointer;

	color: #237FBE;

	font-family: verdana, arial, helvetica;
	font-size: 10px;
	height: 21px;
	text-align: left;
}

.autosuggest-body tr.up
{
	height: 10px;
	background: #93BC0C url("arrow-up.gif") center center no-repeat;
}

.autosuggest-body tr.down
{
	height: 10px;
	background: #93BC0C url("arrow-down.gif") center center no-repeat;
}

.autosuggest-body tr.up-disabled
{
	height: 10px;
	background: #93BC0C url("arrow-up-d.gif") center center no-repeat;
	cursor: default;
}

.autosuggest-body tr.down-disabled
{
	height: 10px;
	background: #93BC0C url("arrow-down-d.gif") center center no-repeat;
	cursor: default;
}

.autosuggest-body tr.selected
{
	background-color: #D6D7E7;
	color: #20608B;
}

.autosuggest-body td
{
	white-space: nowrap;
}

.autosuggest-body span.match
{
	text-decoration: underline;
}